.bd-placeholder-img {
  font-size: 1.5rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 1.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}


body {
  font-family: 'Arial', sans-serif;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
}

.card-header {
  font-weight: bold;
  background-color: #007bff;
  border-radius: 10px 10px 0 0;
  padding: 1rem;
}

.employee-card img {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  border: 4px solid #007bff;
}

.employee-card {
  text-align: center;
}

.employee-card h5 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 15px;
  color: #343a40;
}

.employee-card p {
  color: #6c757d;
  font-size: 1.5rem;
}

.section-title {
  font-weight: bold;
  margin-top: 20px;
  color: #007bff;
}

.info-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #495057;
}

.info-section div {
  flex: 1;
  padding: 5px;
  font-size: 1.5rem;
}

.btn-toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.toggle-content {
  display: none;
}

.toggle-content p {
  color: #495057;
}

.card-body {
  padding: 1.5rem;
}

.container {
  margin-top: 40px;
}

.row {
  margin-bottom: 20px;
}

.text-center img {
  margin-bottom: 15px;
}

.status-active {
  color: green;
}

.status-inactive {
  color: red;
}

    /* Style for the drag-and-drop file upload */
    .file-upload-container {
      border: 2px dashed #ccc;
      padding: 20px;
      text-align: center;
      cursor: pointer;
  }

  .file-drop-zone {
      padding: 40px;
      border-radius: 5px;
      font-size: 1.5rem;     color: #333;
  }

  .file-drop-zone:hover {

      border-color: #007bff;
    
    }

  .file-input {
      display: none;
  }
  .add-leave-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Custom styles for the birthdays page */
.container {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1 {
  color: #2c3e50;
}

.table img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.table thead {
  background: #007bff;
  color: #ffffff;
}

.filter-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-section label {
  font-weight: bold;
}

.filter-section select {
  width: 200px;
}


/* Custom styles for the leave page */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  margin: 0;
}

.add-leave-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-leave-btn:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #007bff;
  color: white;
}

td .info-icon {
  margin-left: 8px;
  color: #007bff;
  cursor: pointer;
}

td .info-icon:hover {
  color: #0056b3;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 600px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h3 {
  margin: 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input, .form-group select, .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form-row .form-group {
  flex: 1;
}

.form-row .form-group label {
  margin-bottom: 5px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}


.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
}

.btn-secondary:hover {
  background-color: #5a6268;
}


  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }

    .container {
      max-width: 1200px;
      margin: 0 auto;
      border-radius: 8px;
      padding: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    .header h2 {
      margin: 0;
    }

    .add-leave-btn {
      background-color: #007bff;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 60px;
    }

    .add-leave-btn:hover {
      background-color: #0056b3;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }

    table,
    th,
    td {
      border: 1px solid #ddd;
    }

    th,
    td {
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: #007bff;
      color: white;
    }

    td .info-icon {
      margin-left: 8px;
      color: #007bff;
      cursor: pointer;
    }

    td .info-icon:hover {
      color: #0056b3;
    }

    .modal {
      display: none;
      position: fixed;
      z-index: 10;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
      margin: 5% auto;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 8px;
      width: 600px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .modal-header h3 {
      margin: 0;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .form-group label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    .form-group input,
    .form-group select,
    .form-group textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .form-row {
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }

    .form-row .form-group {
      flex: 1;
    }

    .form-row .form-group label {
      margin-bottom: 5px;
    }

    .modal-footer {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }


    .btn-primary {
      background-color: #007bff;
      color: white;
    }

    .btn-primary:hover {
      background-color: #0056b3;
    }

    .btn-secondary {
      background-color: #6c757d;
      color: white;
    }

    .btn-secondary:hover {
      background-color: #5a6268;
    }


    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }

    .container {
      max-width: 1200px;
      margin: 0 auto;
      border-radius: 8px;
      padding: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    .header h2 {
      margin: 0;
    }

    .add-leave-btn {
      background-color: #007bff;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 60px;
    }

    .add-leave-btn:hover {
      background-color: #0056b3;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }

    table,
    th,
    td {
      border: 1px solid #ddd;
    }

    th,
    td {
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: #007bff;
      color: white;
    }

    td .info-icon {
      margin-left: 8px;
      color: #007bff;
      cursor: pointer;
    }

    td .info-icon:hover {
      color: #0056b3;
    }

    .modal {
      display: none;
      position: fixed;
      z-index: 10;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
      margin: 5% auto;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 8px;
      width: 600px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .modal-header h3 {
      margin: 0;
    }

    .modal-body {
      margin-top: 20px;
      width: 100%;
      display: block;
    }

    .form-group {
      margin-bottom: 15px;
      width: 100%;
      display: block;
    }

    .form-group label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    .form-group input,
    .form-group select,
    .form-group textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .form-row {
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }

    .form-row .form-group {
      flex: 1;
    }

    .form-row .form-group label {
      margin-bottom: 5px;
    }

    .modal-footer {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }


    .btn-primary {
      background-color: #007bff;
      color: white;
    }

    .btn-primary:hover {
      background-color: #0056b3;
    }

    .btn-secondary {
      background-color: #6c757d;
      color: white;
    }

    .btn-secondary:hover {
      background-color: #5a6268;
    }

    .modal {
      opacity: 1 !important;  /* Ensure it is fully visible */
      z-index: 1050;  /* Ensure it has a higher z-index */
      visibility: visible !important;  /* Make sure the modal is visible */
  }
  
  .modal-backdrop {
      z-index: 1040 !important;  /* Backdrop z-index should be lower than modal */
  }
  table img {
    border: 2px solid #ddd;
    border-radius: 50%;
    object-fit: cover;
  }
  